* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(138, 138, 138);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 50px;
}

.main-title {
    text-align: center;
    justify-content: center;
    font-size: 50px;

}

.logo-left {
    flex: 0 0 auto;
    margin-top: -10px;
    background-color: white;
    border-radius: 5px;
}

.logo-right {
    flex: 0 0 auto;
    background-color: white;
    border-radius: 5px;
}

/* Css para el nav */
nav {
    float: left;
    width: 200px;
    background-color: #333;
    height: 800px;
    display: block;
    padding: 30px;
    flex-direction: column;
    height: 84vh;
    margin-right: 20px;
}

nav ul {
    margin-top: 100px;
    text-align: center;
    list-style: none;
    text-align: left;
    display: inline-table;
}

nav ul li {
    margin-bottom: 20px;
    background-color: #2b2a2a;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s, background-color 0.3s;
    text-align: center;
    padding: 20px;
}

nav ul li:hover {
    transform: translateY(-5px);
    background-color: #444;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-background-clip: text;
}

nav ul li a:hover {
    background-image: linear-gradient(to right, red, gray, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Css para la página inicio */
.main {
    background-color: rgb(138, 138, 138);
    width: auto;
    color: white;
}

.Contenido2 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}
.Contenido2 article {
    flex: 1 0 250px;
    text-align: center;
    justify-self: center;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px;
}

.Contenido2 p{
    line-height: 2;
    margin-top:50px;
}

.Contenido2 article img{
    width: 100%;
}

.Contenido {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 20px;
}

.Contenido article {
    flex: 1 0 250px;
    text-align: center;
    justify-self: center;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
}

.Contenido article img {
    width: 100%;
}

.Contenido p{
    line-height: 2;
    margin-top:50px;
}

/*CSS para el footer */
.main-footer {
    background-color: #333;
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 2%;
    color: #fff;
}

.main-footer>div {
    display: flex;
    flex: 1;
    max-width: 1920px;
    background-color: #2b2a2a;
    border-radius: 10px;
}

.seccionpie1 {
    flex: 1;
    padding: 25px;

}

.seccionpie1 h2 {
    padding-left: 36px;
    padding-bottom: 10px;
    text-align: center;
}

.seccionpie {
    flex: 2;
    padding: 25px;
}

.seccionpie h2 {
    font: bold 25px Arial, sans-serif;
    padding-bottom: 10px;
    text-align: center;
}

.seccionpie p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(226, 226, 226);
    text-align: justify;
    background-color: #333;
    border-radius: 20px;
    padding: 20px;
}

.seccionpie1 ul {
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}

.social-links li {
    display: flow-root;
    padding: 15px;
}

.social-links a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #666;
}

.social-links img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}


.seccionpie3 {
    flex: 1;
    padding: 25px;
    text-align: center;
}

.seccionpie3 h2 {
    padding-left: 36px;
    padding-bottom: 10px;
    text-align: center;
}

.seccionpie3 ul {
    background-color: #333;
    border-radius: 10px;
    text-align: center;

}

.seccionpie3 li {
    display: flow-root;
    padding: 15px;
}

.seccionpie3 li strong {
    color: white;
}

.copy {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: auto;
}

/* Css para las imagenes de Galería */
.Imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.Imagenes article {
    flex: 1 0 250px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.Imagenes img {
    width: 100%;
    height: 205px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.hidden-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover .hidden-text {
    opacity: 1;
}

.Imagenes article:hover {
    transform: translateY(-5px);
}

/* Css para la pagina contacto */

/* Css para el formulario */
.formulario {
    flex: 1;
    background-color: rgb(226, 225, 225);
    padding: 20px;
    text-align: left; /* Alinea el texto del formulario a la izquierda */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 820px;
    width: 830px;
}

.formulario h2 {
    text-align: center; /* Centra el título del formulario */
    margin-bottom: 20px;
    font: oblique bold 150% cursive;
}

.formulario label {
    display: block;
    margin-bottom: 8px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="number"],
.formulario textarea,
.formulario input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    min-width: 428px;
    max-width: 827px;
    min-height: 200px;
    max-height: 250px;
}


.formulario input[type="checkbox"] {
    margin-right: 10px;
}

.formulario input[type="submit"] {
    color: rgb(48, 47, 47);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formulario input[type="submit"]:hover {
    background-color: #555;
}

.mapa {
    flex: 1;
    box-sizing: border-box;
    margin-left: 15px;
}

.mapa h2 {
    margin-bottom: 5px;
    /* Espacio inferior entre el título y el contenido */
    font: oblique bold 150% cursive;
    text-align: center;
}

.mapa img {
    margin-bottom: 10px;
    /* Espacio inferior debajo de la imagen */
    display: inline-block;
}

.mapa iframe {
    margin-top: 10px; /* Espacio superior sobre el mapa */
    flex: 1; /* El mapa (iframe) ocupará el espacio restante */
    display: inline-block;
}

/*Css para la tabla de las actividades */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-right: 20px;
}

/* Estilo para la tabla */
table {
    width: 50%;
    border-collapse: collapse;
    color: #fff; 
}

th {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #555; /* Borde inferior más oscuro */
}
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #555; /* Borde inferior más oscuro */
}

caption {
    font-size: 1.2em; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    color: rgb(0, 0, 0); /* Color del texto */
    text-align: center; 
    padding: 10px; /* Espaciado interno */
    background-image: linear-gradient(to right, red, gray, green);
    border: 1px solid rgb(0, 0, 0);
}

.ImagenActividad{
   border-radius: 10px;
   height:450px;
   width:50%;
   margin-left: 30px;
}


