* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(138, 138, 138);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: rgb(255, 255, 255);
}

.main-title {
    text-align: center;
    justify-content: center;
    font-size: 50px;

}

.logo-left {
    flex: 0 0 auto;
    margin-top: -10px;
}

.logo-right {
    flex: 0 0 auto;
}

/* Css para el nav */
nav {
    float: left;
    width: 200px;
    background-color: #333;
    height: 900px;
    display: block;

}

nav ul {
    padding: 0;
    margin-top: 300px;
    text-align: center;
}

nav ul li {
    margin-bottom: 60px;
}

nav ul li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    transition: background-position 1.3s linear;
    /* Transición uniforme */
}

nav ul li a:hover {
    background-image: linear-gradient(to right, red 0%, red 33.33%, gray 33.33%, gray 66.66%, green 66.66%, green 100%);
    /* Gradiente con rojo, gris y verde */
    background-size: 300% 100%;
    /* Ancho del gradiente más grande para permitir la transición */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 100% 0%;
    /* Inicia el gradiente desde la izquierda */
}

.main{
    background-color: rgb(138, 138, 138);
    width: auto;
    color: white;
}

.Contenido {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;  
}

.Contenido article {
   flex: 1 0 250px;
   text-align: center;
   justify-self: center;
   background-color: rgb(46, 46, 46);
   border-radius: 10px;
   padding: 20px;
   margin: 20px;
 

}

.Contenido article img{
    width: 100%;
}


.Texto p {
    /* Estilos adicionales para el párrafo dentro de .Texto */
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 10%; /* Elimina el margen predeterminado del párrafo */
  }
.Video {
    padding-left: 20px;
}

/*CSS para el footer */
.main-footer {
    background-color: #333;
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 2%;
    color: #fff;
}

.main-footer>div {
    display: flex;
    flex: 1;
    max-width: 1920px;
    background-color: #2b2a2a;
    border-radius: 10px;
}

.seccionpie1 {
    flex: 1;
    padding: 25px;

}

.seccionpie1 h2 {
    padding-left: 36px;
    padding-bottom: 10px;
    text-align: center;
}

.seccionpie {
    flex: 2;
    padding: 25px;
}

.seccionpie h2 {
    font: bold 25px Arial, sans-serif;
    padding-bottom: 10px;
    text-align: center;
}

.seccionpie p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(226, 226, 226);
    text-align: justify;
    background-color: #333;
    border-radius: 20px;
    padding: 20px;
}

.seccionpie1 ul {
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}

.social-links li {
    display: flow-root;
    padding: 15px;
}

.social-links a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #666;
}

.social-links img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}


.seccionpie3 {
    flex: 1;
    padding: 25px;
    text-align: center;
}

.seccionpie3 h2 {
    padding-left: 36px;
    padding-bottom: 10px;
    text-align: center;
}

.seccionpie3 ul {
    background-color: #333;
    border-radius: 10px;
    text-align: center;

}

.seccionpie3 li {
    display: flow-root;
    padding: 15px;
}

.seccionpie3 li strong {
    color: white;
}

.copy {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: auto;
}

/* Css para las imagenes de Galería */
.Imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
}

.Imagenes article {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 0 250px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.Imagenes img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: opacity 0.3s ease;
    height: 205px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.Imagenes p {
    padding: 10px;
    font-size: 14px;
    color: #555;
}

.Imagenes article:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Css para la pagina contacto */
.Contenido {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
}

/* Estilos mejorados para el formulario */

.formulario {
    background-color: rgb(226, 225, 225);
    padding: 20px;
    text-align: left; /* Alinea el texto del formulario a la izquierda */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 820px;
    width: 830px;
}

.formulario h2 {
    text-align: center; /* Centra el título del formulario */
    margin-bottom: 20px;
    font: oblique bold 150% cursive;
}

.formulario label {
    display: block;
    margin-bottom: 8px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="number"],
.formulario textarea,
.formulario input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea{
    min-width: 428px;
    max-width: 827px;
    min-height: 200px;
    max-height: 250px;
}


.formulario input[type="checkbox"] {
    margin-right: 10px;
}

.formulario input[type="submit"] {
    color: rgb(48, 47, 47);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formulario input[type="submit"]:hover {
    background-color: #555;
}

.mapa{
   flex: 1;
   padding: 20px;
   box-sizing: border-box;
   margin-left: 50px; 
}

.mapa h2 {
    margin-bottom: 5px; /* Espacio inferior entre el título y el contenido */
    text-align: center;
    font: oblique bold 150% cursive;
}

.mapa img {
    margin-bottom: 10px; /* Espacio inferior debajo de la imagen */
}

.mapa iframe {
    margin-top: 10px; /* Espacio superior sobre el mapa */
    flex: 1; /* El mapa (iframe) ocupará el espacio restante */
}
